/* line 2, ../sass/layout_paragraphs.scss */
.lp-builder .layout__region {
  padding: 0 8px;
}

/* line 7, ../sass/layout_paragraphs.scss */
.layout .paragraph--type--title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.6rem;
  margin-block-end: 14px;
}
/* line 15, ../sass/layout_paragraphs.scss */
.layout .paragraph p, .layout .paragraph ul {
  display: block;
  margin-block-start: 4px !important;
  margin-block-end: 10px !important;
}
/* line 21, ../sass/layout_paragraphs.scss */
.layout .paragraph hr {
  height: 1px;
  margin: 16px 0;
  padding: 0;
  border: none;
  background: gray;
}
