parameters:
    customRulesetUsed: true
    reportUnmatchedIgnoredErrors: false
    drupal:
        drupal_root: %currentWorkingDirectory%/web
        entityMapping:
            og_membership:
                class: Drupal\og\Entity\OgMembership
                storage: Drupal\Core\Entity\Sql\SqlContentEntityStorage
            rdf_entity:
                class: Drupal\rdf_entity\Entity\Rdf
                storage: Drupal\sparql_entity_storage\SparqlEntityStorage
    paths:
      - src
      - tests/src
      - public_htmlmodules/custom
      - public_htmlprofiles
      - public_htmlthemes/ventuno
      - public_htmlthemes/iop
    ignoreErrors:
        # We're not prepared yet for this.
        - '#\Drupal calls should be avoided in classes, use dependency injection instead#'
        # As an exception, we allow extending these two classes.
        - '#Class Drupal\\joinup_group\\Form\\UserCancelForm extends @internal class Drupal\\user\\Form\\UserCancelForm.#'
        - '#Class Drupal\\joinup_group\\Form\\UserMultipleCancelConfirm extends @internal class Drupal\\user\\Form\\UserMultipleCancelConfirm.#'
        # See https://github.com/mglaman/phpstan-drupal/issues/586.
        - '#Call to deprecated method loadRevision\(\) of class Drupal\\Core\\Entity\\(ContentEntityStorageBase|EntityStorageInterface)\:\nin drupal\:10\.1\.0 and is removed from drupal\:11\.0\.0\. Use\n\\Drupal\\Core\\Entity\\RevisionableStorageInterface\:\:loadRevision instead\.#'
        - '#Class Drupal\\joinup_media\\JoinupMediaLibrary extends @internal class Drupal\\ckeditor5\\Plugin\\CKEditor5Plugin\\MediaLibrary.#'
        # Temporarily ignore these deprecations until https://www.drupal.org/i/3397522.
        # Todo: Remove this exception in ISAICP-8350.
        # See: https://citnet.tech.ec.europa.eu/CITnet/jira/browse/ISAICP-8350
        - '#^Class .* implements deprecated interface Symfony\\Component\\DependencyInjection\\ContainerAwareInterface\:\s+since Symfony 6\.4, use dependency injection instead$#'
        - '#^Usage of deprecated trait Symfony\\Component\\DependencyInjection\\ContainerAwareTrait in class .*\:\s+since Symfony 6\.4, use dependency injection instead$#'
    excludePaths:
        - src/CodingStandards/Sniffs/NamingConventions/ValidUpdateNameSniff.php
    scanFiles:
        - public_htmlmodules/contrib/og/src/OgMembershipInterface.php
