/* line 1, ../sass/common.scss */
.views-ui-display-tab-setting.overridden,
.views-ui-display-tab-bucket.overridden {
  font-style: italic;
  color: red !important;
  font-weight: bold;
}

/* line 8, ../sass/common.scss */
.paragraphs-subform .field-group-details.geometry-attributes .details-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px 20px;
}

/* line 16, ../sass/common.scss */
a, a.link {
  border-bottom: none;
}

/*
.node .field--type-image {
  float: none !important;
  .field__item {
    display: inline-block;
  }
}
*/
/* line 30, ../sass/common.scss */
#views-form-media-media-page-list .views-field-thumbnail__target-id {
  max-width: 60px;
}

/* line 34, ../sass/common.scss */
.user-profile-section .block-layout-builder {
  margin-bottom: 10px;
}
/* line 36, ../sass/common.scss */
.user-profile-section .block-layout-builder.block-field-blockuseruseruser-picture {
  margin-bottom: 20px;
}

/* line 41, ../sass/common.scss */
.block-layout-builder {
  margin-bottom: 20px;
}
/* line 43, ../sass/common.scss */
.block-layout-builder.node-title {
  font-size: 2.6rem;
  font-weight: bold;
  margin: 20px 0;
  line-height: 3rem;
}

/* line 55, ../sass/common.scss */
.views-field.views-field-field-image .field--type-image:not(:last-child),
.views-field.views-field-field-image .field--name-geoimage-caption:not(:last-child),
.views-field.views-field-field-geoimage .field--type-image:not(:last-child),
.views-field.views-field-field-geoimage .field--name-geoimage-caption:not(:last-child),
.field--name-field-media-image .field--type-image:not(:last-child),
.field--name-field-media-image .field--name-geoimage-caption:not(:last-child) {
  margin-bottom: 0.4rem;
}
/* line 59, ../sass/common.scss */
.views-field.views-field-field-image .text-content.field--name-field-image-caption,
.views-field.views-field-field-geoimage .text-content.field--name-field-image-caption,
.field--name-field-media-image .text-content.field--name-field-image-caption {
  font-size: 0.9rem;
  color: slategray;
}

/* line 66, ../sass/common.scss */
.media--type-image .wide-image.field--type-image {
  margin-left: unset;
}

/* line 71, ../sass/common.scss */
.view > * {
  margin-bottom: 1rem !important;
}

/* line 75, ../sass/common.scss */
.view > .view-header {
  margin-bottom: 0.5rem !important;
}

/* line 80, ../sass/common.scss */
.view-content-media-images .field-content .media {
  margin-bottom: 20px;
}

/* line 89, ../sass/common.scss */
.view.view-geo-places.view-id-geo_places a.node_title,
.view-territorial-reports.view-id-territorial_reports a.node_title {
  padding-bottom: 0.1875rem;
  transition: background-size 0.2s, color 0.2s;
  text-decoration: none;
  color: #0d1214;
  background-color: transparent;
  background-image: linear-gradient(#2494db, #2494db);
  /* Two values are needed for IE11 support. */
  background-repeat: no-repeat;
  background-position: bottom left;
  /* LTR */
  background-size: 0 0.1875rem;
  font-size: 1.5rem;
}
/* line 100, ../sass/common.scss */
.view.view-geo-places.view-id-geo_places a.node_title:any-link,
.view-territorial-reports.view-id-territorial_reports a.node_title:any-link {
  text-decoration: none;
}
/* line 103, ../sass/common.scss */
.view.view-geo-places.view-id-geo_places a.node_title h2,
.view-territorial-reports.view-id-territorial_reports a.node_title h2 {
  margin-bottom: 6px;
}
/* line 108, ../sass/common.scss */
.view.view-geo-places.view-id-geo_places .field--name-field-media-image,
.view-territorial-reports.view-id-territorial_reports .field--name-field-media-image {
  margin-bottom: .25rem;
}
/* line 112, ../sass/common.scss */
.view.view-geo-places.view-id-geo_places .field--name-field-image-caption,
.view-territorial-reports.view-id-territorial_reports .field--name-field-image-caption {
  font-size: 0.7rem;
}
/* line 116, ../sass/common.scss */
.view.view-geo-places.view-id-geo_places .field--name-field-address,
.view-territorial-reports.view-id-territorial_reports .field--name-field-address {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

@media (min-width: 43.75rem) {
  /* line 127, ../sass/common.scss */
  .view.view-geo-places.view-id-geo_places.view-display-id-page_geoplaces_grid article header {
    height: 20px;
  }
  /* line 129, ../sass/common.scss */
  .view.view-geo-places.view-id-geo_places.view-display-id-page_geoplaces_grid article header h2 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  /* line 136, ../sass/common.scss */
  .view.view-geo-places.view-id-geo_places.view-display-id-page_geoplaces_grid .paragraph--type--location.paragraph--view-mode--leaflet-popup {
    height: 40px;
  }
}
/* line 145, ../sass/common.scss */
.view-id-geo_images_list .views-view-grid__item {
  margin-bottom: 0.5rem;
}
/* line 149, ../sass/common.scss */
.view-id-geo_images_list .views-field-field-components a {
  font-size: 0.8rem;
}
/* line 151, ../sass/common.scss */
.view-id-geo_images_list .views-field-field-components a .field--name-field-media-image {
  margin-bottom: 1rem;
}

/* line 159, ../sass/common.scss */
.field--name-geofield-googlemaps-link .field__item {
  display: inline;
  margin: 0 10px 0 0;
  font-size: 0.8rem;
}

/* line 167, ../sass/common.scss */
#views-exposed-form-geo-places-page-vaganti-map.form--inline > *,
#views-exposed-form-geo-images-list-page-vaganti-geimages-list.form--inline > * {
  vertical-align: unset;
  margin-block: 0;
}
/* line 171, ../sass/common.scss */
#views-exposed-form-geo-places-page-vaganti-map fieldset,
#views-exposed-form-geo-images-list-page-vaganti-geimages-list fieldset {
  border: none;
}
/* line 173, ../sass/common.scss */
#views-exposed-form-geo-places-page-vaganti-map fieldset .fieldset__legend,
#views-exposed-form-geo-images-list-page-vaganti-geimages-list fieldset .fieldset__legend {
  display: none;
}
/* line 177, ../sass/common.scss */
#views-exposed-form-geo-places-page-vaganti-map fieldset .fieldset__wrapper,
#views-exposed-form-geo-images-list-page-vaganti-geimages-list fieldset .fieldset__wrapper {
  padding: 0;
}
/* line 180, ../sass/common.scss */
#views-exposed-form-geo-places-page-vaganti-map fieldset .fieldset__wrapper .form-item,
#views-exposed-form-geo-images-list-page-vaganti-geimages-list fieldset .fieldset__wrapper .form-item {
  margin: 0;
  border: none;
}
/* line 183, ../sass/common.scss */
#views-exposed-form-geo-places-page-vaganti-map fieldset .fieldset__wrapper .form-item input,
#views-exposed-form-geo-images-list-page-vaganti-geimages-list fieldset .fieldset__wrapper .form-item input {
  padding: 10px;
}

/* line 196, ../sass/common.scss */
#block-taranto-viva-views-block-geo-places-block-vaganti-dates h2,
.view-id-geo_places.view-display-id-attachment_vaganti_dates h2 {
  font-size: 1.5rem;
}
/* line 199, ../sass/common.scss */
#block-taranto-viva-views-block-geo-places-block-vaganti-dates .block__content .view-content,
.view-id-geo_places.view-display-id-attachment_vaganti_dates .block__content .view-content {
  max-height: 300px;
  overflow-y: scroll;
  border: 1px solid lightgrey;
  padding: 10px;
}
/* line 204, ../sass/common.scss */
#block-taranto-viva-views-block-geo-places-block-vaganti-dates .block__content .view-content > h3,
.view-id-geo_places.view-display-id-attachment_vaganti_dates .block__content .view-content > h3 {
  margin-block: 4px;
  font-size: 1rem;
  font-weight: normal;
}
/* line 209, ../sass/common.scss */
#block-taranto-viva-views-block-geo-places-block-vaganti-dates .block__content .view-content > div,
.view-id-geo_places.view-display-id-attachment_vaganti_dates .block__content .view-content > div {
  display: none;
}

/* line 216, ../sass/common.scss */
.view-id-geo_places.view-display-id-attachment_vaganti_dates .view-content {
  max-height: 100px;
  overflow-y: scroll;
  border: 1px solid lightgrey;
  padding: 10px;
}
/* line 221, ../sass/common.scss */
.view-id-geo_places.view-display-id-attachment_vaganti_dates .view-content > h3 {
  margin-block: 4px;
  font-size: 1rem;
  font-weight: normal;
}
/* line 226, ../sass/common.scss */
.view-id-geo_places.view-display-id-attachment_vaganti_dates .view-content > div {
  display: none;
}

/* line 233, ../sass/common.scss */
#popup-message-window {
  width: 40% !important;
  height: 90% !important;
}

@media only screen and (max-width: 800px) {
  /* line 239, ../sass/common.scss */
  #popup-message-window {
    width: 90% !important;
    padding: 0 20px !important;
  }
}
/* line 246, ../sass/common.scss */
#popup-message-content {
  font-family: var(--font-sans);
  font-size: 13px;
}
/* line 249, ../sass/common.scss */
#popup-message-content .text-content {
  font-family: inherit;
  font-size: inherit;
}
/* line 253, ../sass/common.scss */
#popup-message-content .field--name-field-image, #popup-message-content .field--name-field-media-image {
  padding-top: 10px;
  padding-bottom: var(--sp1);
}
/* line 258, ../sass/common.scss */
#popup-message-content .node__content {
  padding-block-end: var(--sp0-75);
}

@media (min-width: 43.75rem) {
  /* line 265, ../sass/common.scss */
  #popup-message-content .text-content {
    font-family: inherit;
    font-size: inherit;
    line-height: var(--line-height-base) !important;
  }
}
@media (min-width: 62.5rem) {
  /* line 274, ../sass/common.scss */
  #popup-message-content .node__content {
    padding-block-end: var(--sp0-75);
  }
}
