/* line 1, ../sass/common.scss */
.views-ui-display-tab-setting.overridden,
.views-ui-display-tab-bucket.overridden {
  font-style: italic;
  color: red !important;
  font-weight: bold;
}

/* line 8, ../sass/common.scss */
.paragraphs-subform .field-group-details.geometry-attributes .details-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px 20px;
}

/* line 16, ../sass/common.scss */
a, a.link {
  border-bottom: none;
}

/*
.node .field--type-image {
  float: none !important;
  .field__item {
    display: inline-block;
  }
}
*/
/* line 29, ../sass/common.scss */
.user-profile-section .block-layout-builder {
  margin-bottom: 10px;
}
/* line 31, ../sass/common.scss */
.user-profile-section .block-layout-builder.block-field-blockuseruseruser-picture {
  margin-bottom: 20px;
}

/* line 36, ../sass/common.scss */
.block-layout-builder {
  margin-bottom: 20px;
}
/* line 38, ../sass/common.scss */
.block-layout-builder.node-title {
  font-size: 2.6rem;
  font-weight: bold;
  margin: 20px 0;
  line-height: 3rem;
}

/* line 50, ../sass/common.scss */
.views-field.views-field-field-image .field--type-image:not(:last-child),
.views-field.views-field-field-image .field--name-geoimage-caption:not(:last-child),
.views-field.views-field-field-geoimage .field--type-image:not(:last-child),
.views-field.views-field-field-geoimage .field--name-geoimage-caption:not(:last-child),
.field--name-field-media-image .field--type-image:not(:last-child),
.field--name-field-media-image .field--name-geoimage-caption:not(:last-child) {
  margin-bottom: 0.4rem;
}
/* line 54, ../sass/common.scss */
.views-field.views-field-field-image .text-content.field--name-field-image-caption,
.views-field.views-field-field-geoimage .text-content.field--name-field-image-caption,
.field--name-field-media-image .text-content.field--name-field-image-caption {
  font-size: 0.9rem;
  color: slategray;
}

/* line 61, ../sass/common.scss */
.media--type-image .wide-image.field--type-image {
  margin-left: unset;
}

/* line 66, ../sass/common.scss */
.view > * {
  margin-bottom: 1rem !important;
}

/* line 70, ../sass/common.scss */
.view > .view-header {
  margin-bottom: 1rem !important;
}

/* line 75, ../sass/common.scss */
.view-content-media-images .field-content .media {
  margin-bottom: 20px;
}

/* line 84, ../sass/common.scss */
.view.view-geo-places.view-id-geo_places a.node_title,
.view-territorial-reports.view-id-territorial_reports a.node_title {
  padding-bottom: 0.1875rem;
  transition: background-size 0.2s, color 0.2s;
  text-decoration: none;
  color: #0d1214;
  background-color: transparent;
  background-image: linear-gradient(#2494db, #2494db);
  /* Two values are needed for IE11 support. */
  background-repeat: no-repeat;
  background-position: bottom left;
  /* LTR */
  background-size: 0 0.1875rem;
  font-size: 1.5rem;
}
/* line 95, ../sass/common.scss */
.view.view-geo-places.view-id-geo_places a.node_title:any-link,
.view-territorial-reports.view-id-territorial_reports a.node_title:any-link {
  text-decoration: none;
}
/* line 98, ../sass/common.scss */
.view.view-geo-places.view-id-geo_places a.node_title h2,
.view-territorial-reports.view-id-territorial_reports a.node_title h2 {
  margin-bottom: 6px;
}
/* line 101, ../sass/common.scss */
.view.view-geo-places.view-id-geo_places a.node_title h3,
.view-territorial-reports.view-id-territorial_reports a.node_title h3 {
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: 6px;
  margin-bottom: 6px;
}
/* line 109, ../sass/common.scss */
.view.view-geo-places.view-id-geo_places .field--name-field-media-image,
.view-territorial-reports.view-id-territorial_reports .field--name-field-media-image {
  margin-bottom: .25rem;
}
/* line 113, ../sass/common.scss */
.view.view-geo-places.view-id-geo_places .field--name-field-image-caption,
.view-territorial-reports.view-id-territorial_reports .field--name-field-image-caption {
  font-size: 0.7rem;
}
/* line 117, ../sass/common.scss */
.view.view-geo-places.view-id-geo_places .field--name-field-address,
.view-territorial-reports.view-id-territorial_reports .field--name-field-address {
  font-size: 0.85rem;
  margin-bottom: 0.2rem;
}

@media (min-width: 43.75rem) {
  /* line 128, ../sass/common.scss */
  .view.view-geo-places.view-id-geo_places.view-display-id-page_geoplaces_grid article header {
    height: 20px;
  }
  /* line 130, ../sass/common.scss */
  .view.view-geo-places.view-id-geo_places.view-display-id-page_geoplaces_grid article header h2 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  /* line 137, ../sass/common.scss */
  .view.view-geo-places.view-id-geo_places.view-display-id-page_geoplaces_grid .paragraph--type--location.paragraph--view-mode--leaflet-popup {
    height: 40px;
  }
}
/* line 146, ../sass/common.scss */
.view-id-geo_images_list .views-view-grid__item {
  margin-bottom: 0.5rem;
}
/* line 150, ../sass/common.scss */
.view-id-geo_images_list .views-field-field-components a {
  font-size: 0.8rem;
}
/* line 152, ../sass/common.scss */
.view-id-geo_images_list .views-field-field-components a .field--name-field-media-image {
  margin-bottom: 1rem;
}

/* line 160, ../sass/common.scss */
.field--name-geofield-googlemaps-link .field__item {
  display: inline;
  margin: 0 10px 0 0;
  font-size: 0.8rem;
}

/* line 168, ../sass/common.scss */
#views-exposed-form-geo-places-page-vaganti-map.form--inline > *,
#views-exposed-form-geo-images-list-page-vaganti-geimages-list.form--inline > * {
  vertical-align: unset;
  margin-block: 0;
}
/* line 172, ../sass/common.scss */
#views-exposed-form-geo-places-page-vaganti-map fieldset,
#views-exposed-form-geo-images-list-page-vaganti-geimages-list fieldset {
  border: none;
}
/* line 174, ../sass/common.scss */
#views-exposed-form-geo-places-page-vaganti-map fieldset .fieldset__legend,
#views-exposed-form-geo-images-list-page-vaganti-geimages-list fieldset .fieldset__legend {
  display: none;
}
/* line 178, ../sass/common.scss */
#views-exposed-form-geo-places-page-vaganti-map fieldset .fieldset__wrapper,
#views-exposed-form-geo-images-list-page-vaganti-geimages-list fieldset .fieldset__wrapper {
  padding: 0;
}
/* line 181, ../sass/common.scss */
#views-exposed-form-geo-places-page-vaganti-map fieldset .fieldset__wrapper .form-item,
#views-exposed-form-geo-images-list-page-vaganti-geimages-list fieldset .fieldset__wrapper .form-item {
  margin: 0;
  border: none;
}
/* line 184, ../sass/common.scss */
#views-exposed-form-geo-places-page-vaganti-map fieldset .fieldset__wrapper .form-item input,
#views-exposed-form-geo-images-list-page-vaganti-geimages-list fieldset .fieldset__wrapper .form-item input {
  padding: 10px;
}

/* line 197, ../sass/common.scss */
#block-taranto-viva-views-block-geo-places-block-vaganti-dates h2,
.view-id-geo_places.view-display-id-attachment_vaganti_dates h2 {
  font-size: 1.5rem;
}
/* line 200, ../sass/common.scss */
#block-taranto-viva-views-block-geo-places-block-vaganti-dates .block__content .view-content,
.view-id-geo_places.view-display-id-attachment_vaganti_dates .block__content .view-content {
  max-height: 300px;
  overflow-y: scroll;
  border: 1px solid lightgrey;
  padding: 10px;
}
/* line 205, ../sass/common.scss */
#block-taranto-viva-views-block-geo-places-block-vaganti-dates .block__content .view-content > h3,
.view-id-geo_places.view-display-id-attachment_vaganti_dates .block__content .view-content > h3 {
  margin-block: 4px;
  font-size: 1rem;
  font-weight: normal;
}
/* line 210, ../sass/common.scss */
#block-taranto-viva-views-block-geo-places-block-vaganti-dates .block__content .view-content > div,
.view-id-geo_places.view-display-id-attachment_vaganti_dates .block__content .view-content > div {
  display: none;
}

/* line 217, ../sass/common.scss */
.view-id-geo_places.view-display-id-attachment_vaganti_dates .view-content {
  max-height: 100px;
  overflow-y: scroll;
  border: 1px solid lightgrey;
  padding: 10px;
}
/* line 222, ../sass/common.scss */
.view-id-geo_places.view-display-id-attachment_vaganti_dates .view-content > h3 {
  margin-block: 4px;
  font-size: 1rem;
  font-weight: normal;
}
/* line 227, ../sass/common.scss */
.view-id-geo_places.view-display-id-attachment_vaganti_dates .view-content > div {
  display: none;
}

/* line 234, ../sass/common.scss */
#popup-message-window {
  width: 600px !important;
  height: 760px !important;
}

@media only screen and (max-width: 1000px) {
  /* line 240, ../sass/common.scss */
  #popup-message-window {
    padding: 0 20px !important;
  }
}
/* line 247, ../sass/common.scss */
#popup-message-window h1.popup-message-title {
  margin-bottom: 4px;
}
/* line 250, ../sass/common.scss */
#popup-message-window #popup-message-content {
  font-size: 16px;
}
/* line 253, ../sass/common.scss */
#popup-message-window #popup-message-content .text-content {
  font-family: inherit;
  font-size: inherit;
}
/* line 258, ../sass/common.scss */
#popup-message-window #popup-message-content .field--name-field-image, #popup-message-window #popup-message-content .field--name-field-media-image {
  padding-top: 6px;
}
/* line 262, ../sass/common.scss */
#popup-message-window #popup-message-content .node__content {
  padding-block-end: var(--sp0-75);
}

/* line 268, ../sass/common.scss */
.view-header {
  font-size: 1rem !important;
}
/* line 270, ../sass/common.scss */
.view-header .text-content {
  line-height: var(--line-height-base) !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: inherit;
  font-family: var(--font-sans), serif !important;
}
/* line 277, ../sass/common.scss */
.view-header p {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

/* line 283, ../sass/common.scss */
.view-footer {
  font-size: 0.9rem !important;
}
/* line 285, ../sass/common.scss */
.view-footer p {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

/* line 292, ../sass/common.scss */
.view-fonti table.views-table {
  margin-block-start: 4px !important;
  margin-block-end: 4px !important;
  font-size: inherit !important;
}
/* line 297, ../sass/common.scss */
.view-fonti .views-field-field-html-symbol {
  width: 100px;
}

/**
 * @file
 * Region default layout.
 */
@media (min-width: 62.5rem) {
  /* line 307, ../sass/common.scss */
  .region > * {
    margin-block-end: var(--sp2) !important;
  }
}
