/* line 2, ../sass/leaflet_map_interactions.scss */
#leaflet-map-view-geo-media-images-page-geoimages-map .leaflet-popup-content {
  margin: 1px;
}

/* line 10, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper {
  border-radius: 1px !important;
}
/* line 12, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content {
  position: relative;
  margin: 4px;
  /* Overrides the Olivero olivero_tarantoviva/css/components/text-content.css */
}
/* line 15, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field--name-geoimage-caption {
  padding-left: 0.5rem !important;
  font-size: 0.8rem;
  opacity: 70%;
  line-height: 1.2rem;
}
/* line 21, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field:not(:last-child) {
  margin-bottom: 0.4rem !important;
}
/* line 25, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node__content {
  font-size: 0.8rem;
  padding-bottom: 0.5rem !important;
}
/* line 29, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field--type-image {
  float: none;
  margin: 0;
}
/* line 33, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage {
  margin: 0;
}
/* line 35, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage .node__content {
  margin: 0;
  padding-bottom: 0 !important;
}
/* line 39, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage .node__title {
  display: none;
}
/* line 43, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoplace, .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-event {
  margin: 12px 8px 0;
}
/* line 46, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-territorial-report {
  margin: 12px 8px 0;
}
/* line 49, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field--type-image img, .leaflet-popup-content-wrapper .leaflet-popup-content .field--name-user-picture img {
  margin: 0;
}
/* line 52, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content h2 {
  font-size: 1.4em;
  margin: 0.5em 20px 0.5em 0;
  line-height: 1.5rem;
  font-weight: normal;
  padding-top: 6px;
}
/* line 59, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content h3 {
  font-size: 1.2em;
  margin: 0.5em 20px 0.5em 0;
  line-height: 1.4rem;
  font-weight: normal;
}
/* line 65, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content div {
  margin-bottom: 6px;
}
/* line 68, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content div:last-child {
  margin-bottom: 0;
}
/* line 72, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .text-content,
.leaflet-popup-content-wrapper .leaflet-popup-content .cke_editable {
  font-size: 0.8rem !important;
  line-height: 1.3rem !important;
}
@media only screen and (max-width: 992px) {
  /* line 12, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content {
    min-width: 80px;
    max-width: 400px;
  }
  /* line 81, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .field--type-text-with-summary, .leaflet-popup-content-wrapper .leaflet-popup-content .field--name-body {
    display: none;
  }
  /* line 84, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content h2 {
    font-size: 1.2em;
  }
  /* line 89, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage .node__content {
    margin: 0;
  }
  /* line 92, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage .node__title {
    display: none;
  }
  /* line 96, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoplace, .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-event {
    margin: 8px;
  }
}
@media only screen and (max-width: 500px) {
  /* line 102, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage {
    max-width: 360px !important;
    margin: 0;
  }
  /* line 107, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoplace img, .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-event img {
    max-width: 220px !important;
  }
  /* line 112, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-territorial-report img {
    max-width: 300px !important;
  }
}
@media only screen and (max-width: 380px) {
  /* line 120, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage img {
    max-width: 240px !important;
  }
  /* line 125, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoplace img, .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-event img {
    max-width: 200px !important;
  }
  /* line 130, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-territorial-report img {
    max-width: 240px !important;
  }
}
/* line 135, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field--name-field-image-caption {
  font-size: 0.6rem !important;
  color: darkgray;
}
/* line 139, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field--name-geofield-googlemaps-link {
  display: inline-block;
}

/* line 147, ../sass/leaflet_map_interactions.scss */
.leaflet-container a.leaflet-popup-close-button {
  top: 12px;
}

/* line 152, ../sass/leaflet_map_interactions.scss */
.leaflet-control-geocoder-container input {
  font-size: 1rem;
}

/* line 158, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.up-to-the-top {
  z-index: 1000 !important;
}
/* line 161, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.opacity-50 {
  opacity: 30% !important;
}
/* line 164, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.opacity-50:hover {
  opacity: 100% !important;
}
/* line 167, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.opacity-75 {
  opacity: 60% !important;
}
/* line 170, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.opacity-75:hover {
  opacity: 100% !important;
}

/* line 177, ../sass/leaflet_map_interactions.scss */
.leaflet-control-layers-list label {
  margin-bottom: 4px;
}
/* line 180, ../sass/leaflet_map_interactions.scss */
.leaflet-control-layers-list input[type="radio"] {
  margin-right: 4px;
  height: 1.2rem;
  width: 1.2rem;
}
/* line 184, ../sass/leaflet_map_interactions.scss */
.leaflet-control-layers-list input[type="radio"]:checked {
  background-size: 0.6rem;
}
/* line 188, ../sass/leaflet_map_interactions.scss */
.leaflet-control-layers-list input[type="checkbox"] {
  margin-right: 4px;
  height: 1.2rem;
  width: 1.2rem;
}

@-webkit-keyframes blink {
  50% {
    height: 60px;
    width: 60px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    margin-top: -20px;
    margin-left: -20px;
  }
  100% {
    height: 80px;
    width: 80px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    margin-top: -60px;
    margin-left: -60px;
  }
}
@-moz-keyframes blink {
  50% {
    height: 60px;
    width: 60px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    margin-top: -20px;
    margin-left: -20px;
  }
  100% {
    height: 80px;
    width: 80px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    margin-top: -60px;
    margin-left: -60px;
  }
}
/* line 236, ../sass/leaflet_map_interactions.scss */
.leaflet-container .dot {
  border-style: solid;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-width: 15px;
  border-radius: 15px;
  -moz-animation: blink 3.5s infinite ease-in-out;
  -webkit-animation: blink 3.5s infinite ease-in-out;
  -webkit-font-smoothing: antialiased;
  height: 30px;
  width: 30px;
  margin-top: -11px;
  margin-left: -11px;
  pointer-events: none;
}

/* line 253, ../sass/leaflet_map_interactions.scss */
.leaflet-container .leaflet-marker-icon.pulsing-marker {
  z-index: 500 !important;
}
/* line 255, ../sass/leaflet_map_interactions.scss */
.leaflet-container .leaflet-marker-icon.pulsing-marker.negative .dot {
  border-color: orange;
}
/* line 258, ../sass/leaflet_map_interactions.scss */
.leaflet-container .leaflet-marker-icon.pulsing-marker.very_negative .dot {
  border-color: red;
}
/* line 261, ../sass/leaflet_map_interactions.scss */
.leaflet-container .leaflet-marker-icon.pulsing-marker.positive .dot {
  border-color: limegreen;
}

/* line 268, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster div {
  font-weight: bold;
  font-size: 16px;
}
/* line 272, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-small {
  background-color: inherit !important;
}
/* line 274, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-small div {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #f1cf61 !important;
  border: gray solid 1px;
}
/* line 280, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-small div span {
  line-height: 26px;
}
/* line 285, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-medium {
  background-color: inherit !important;
}
/* line 287, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-medium div {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #f68b50 !important;
  border: black solid 1px;
}
/* line 293, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-medium div span {
  line-height: 36px;
}
/* line 298, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-large {
  background-color: inherit !important;
  z-index: 100 !important;
}
/* line 301, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-large div {
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #fd3333 !important;
  border: black solid 1px;
}
/* line 308, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-large div span {
  line-height: 44px;
}

/* line 316, ../sass/leaflet_map_interactions.scss */
.leaflet-tooltip.big-and-bold {
  font-size: 1.1rem;
  font-weight: bold;
}

/* line 321, ../sass/leaflet_map_interactions.scss */
.leaflet-tooltip.big {
  font-size: 1.1rem;
}

/* line 325, ../sass/leaflet_map_interactions.scss */
.leaflet-tooltip.bold {
  font-weight: bold;
}

/* line 329, ../sass/leaflet_map_interactions.scss */
.leaflet-tooltip.small {
  font-size: 0.7rem;
  padding: 3pxx;
}

/* line 335, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.hovering:hover {
  background: white;
  border-radius: 50%;
  transition: background 400ms ease-out;
}

/* line 344, ../sass/leaflet_map_interactions.scss */
.leaflet-map-path-hover-highlight path:hover {
  stroke-width: 14;
}

/* line 353, ../sass/leaflet_map_interactions.scss */
.view-ciclovia-acquedotti .leaflet-tooltip-top {
  margin-top: -16px !important;
}
/* line 355, ../sass/leaflet_map_interactions.scss */
.view-ciclovia-acquedotti .leaflet-tooltip-top.wider {
  margin-top: -24px !important;
}
/* line 359, ../sass/leaflet_map_interactions.scss */
.view-ciclovia-acquedotti .leaflet-tooltip-bottom {
  margin-top: 16px !important;
}
/* line 361, ../sass/leaflet_map_interactions.scss */
.view-ciclovia-acquedotti .leaflet-tooltip-bottom.wider {
  margin-top: 24px !important;
}
