/* line 2, ../sass/leaflet_map_interactions.scss */
#leaflet-map-view-geo-media-images-page-geoimages-map .leaflet-popup-content {
  width: 600px !important;
  margin: 1px;
}

/* line 9, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-width-auto-image .leaflet-popup-content {
  width: auto !important;
}

/* line 13, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper {
  border-radius: 1px;
}
/* line 15, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content {
  position: relative;
  margin: 4px;
  /* Overrides the Olivero olivero_tarantoviva/css/components/text-content.css */
}
/* line 18, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field--name-geoimage-caption {
  padding-left: 0.5rem !important;
  font-size: 0.8rem;
  opacity: 70%;
  line-height: 1.2rem;
}
/* line 24, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field:not(:last-child) {
  margin-bottom: 0.4rem !important;
}
/* line 28, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node__content {
  font-size: 0.8rem;
  padding-bottom: 0.5rem !important;
}
/* line 32, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field--type-image {
  float: none;
  margin: 0;
}
/* line 36, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage {
  margin: 0;
}
/* line 38, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage img {
  max-width: 600px !important;
}
/* line 41, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage .node__content {
  margin: 0;
  padding-bottom: 0 !important;
}
/* line 45, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage .node__title {
  display: none;
}
/* line 49, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoplace, .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-event {
  margin: 12px 8px 0;
}
/* line 51, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoplace img, .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-event img {
  max-width: 300px !important;
}
/* line 55, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-territorial-report {
  margin: 12px 8px 0;
}
/* line 57, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-territorial-report img {
  max-width: 400px !important;
}
/* line 61, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field--type-image img, .leaflet-popup-content-wrapper .leaflet-popup-content .field--name-user-picture img {
  margin: 0;
}
/* line 64, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content h2 {
  font-size: 1.4em;
  margin: 0.5em 20px 0.5em 0;
  line-height: 1.5rem;
  font-weight: normal;
  padding-top: 6px;
}
/* line 71, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content h3 {
  font-size: 1.2em;
  margin: 0.5em 20px 0.5em 0;
  line-height: 1.4rem;
  font-weight: normal;
}
/* line 77, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content div {
  margin-bottom: 6px;
}
/* line 80, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content div:last-child {
  margin-bottom: 0;
}
/* line 84, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .text-content,
.leaflet-popup-content-wrapper .leaflet-popup-content .cke_editable {
  font-size: 0.8rem !important;
  line-height: 1.3rem !important;
}
@media only screen and (max-width: 992px) {
  /* line 15, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content {
    min-width: 80px;
    max-width: 400px;
  }
  /* line 93, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .field--type-text-with-summary, .leaflet-popup-content-wrapper .leaflet-popup-content .field--name-body {
    display: none;
  }
  /* line 96, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content h2 {
    font-size: 1.2em;
  }
  /* line 101, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage .node__content {
    margin: 0;
  }
  /* line 104, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage .node__title {
    display: none;
  }
  /* line 107, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage img {
    max-width: 340px !important;
  }
  /* line 111, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoplace, .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-event {
    margin: 8px;
  }
  /* line 113, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoplace img, .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-event img {
    max-width: 300px !important;
  }
  /* line 118, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-territorial-report img {
    max-width: 340px !important;
  }
}
@media only screen and (max-width: 500px) {
  /* line 125, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage {
    max-width: 360px !important;
    margin: 0;
  }
  /* line 130, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoplace img, .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-event img {
    max-width: 220px !important;
  }
  /* line 135, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-territorial-report img {
    max-width: 300px !important;
  }
}
@media only screen and (max-width: 380px) {
  /* line 143, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage img {
    max-width: 240px !important;
  }
  /* line 148, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoplace img, .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-event img {
    max-width: 200px !important;
  }
  /* line 153, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-territorial-report img {
    max-width: 240px !important;
  }
}
/* line 158, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field--name-field-image-caption {
  font-size: 0.6rem !important;
  color: darkgray;
}
/* line 162, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field--name-geofield-googlemaps-link {
  display: inline-block;
  margin-right: 20px;
}

/* line 171, ../sass/leaflet_map_interactions.scss */
.leaflet-container a.leaflet-popup-close-button {
  top: 12px;
}

/* line 176, ../sass/leaflet_map_interactions.scss */
.leaflet-control-geocoder-container input {
  font-size: 1rem;
}

/* line 182, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.up-to-the-top {
  z-index: 1000 !important;
}
/* line 185, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.opacity-50 {
  opacity: 30% !important;
}
/* line 188, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.opacity-50:hover {
  opacity: 100% !important;
}
/* line 191, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.opacity-75 {
  opacity: 60% !important;
}
/* line 194, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.opacity-75:hover {
  opacity: 100% !important;
}

/* line 201, ../sass/leaflet_map_interactions.scss */
.leaflet-control-layers-list label {
  margin-bottom: 4px;
}
/* line 204, ../sass/leaflet_map_interactions.scss */
.leaflet-control-layers-list input[type="radio"] {
  margin-right: 4px;
  height: 1.2rem;
  width: 1.2rem;
}
/* line 208, ../sass/leaflet_map_interactions.scss */
.leaflet-control-layers-list input[type="radio"]:checked {
  background-size: 0.6rem;
}
/* line 212, ../sass/leaflet_map_interactions.scss */
.leaflet-control-layers-list input[type="checkbox"] {
  margin-right: 4px;
  height: 1.2rem;
  width: 1.2rem;
}

@-webkit-keyframes blink {
  50% {
    height: 60px;
    width: 60px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    margin-top: -20px;
    margin-left: -20px;
  }
  100% {
    height: 80px;
    width: 80px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    margin-top: -60px;
    margin-left: -60px;
  }
}
@-moz-keyframes blink {
  50% {
    height: 60px;
    width: 60px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    margin-top: -20px;
    margin-left: -20px;
  }
  100% {
    height: 80px;
    width: 80px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    margin-top: -60px;
    margin-left: -60px;
  }
}
/* line 260, ../sass/leaflet_map_interactions.scss */
.leaflet-container .dot {
  border-style: solid;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-width: 15px;
  border-radius: 15px;
  -moz-animation: blink 3.5s infinite ease-in-out;
  -webkit-animation: blink 3.5s infinite ease-in-out;
  -webkit-font-smoothing: antialiased;
  height: 30px;
  width: 30px;
  margin-top: -11px;
  margin-left: -11px;
  pointer-events: none;
}

/* line 277, ../sass/leaflet_map_interactions.scss */
.leaflet-container .leaflet-marker-icon.pulsing-marker {
  z-index: 500 !important;
}
/* line 279, ../sass/leaflet_map_interactions.scss */
.leaflet-container .leaflet-marker-icon.pulsing-marker.negative .dot {
  border-color: orange;
}
/* line 282, ../sass/leaflet_map_interactions.scss */
.leaflet-container .leaflet-marker-icon.pulsing-marker.very_negative .dot {
  border-color: red;
}
/* line 285, ../sass/leaflet_map_interactions.scss */
.leaflet-container .leaflet-marker-icon.pulsing-marker.positive .dot {
  border-color: limegreen;
}

/* line 292, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster div {
  font-weight: bold;
}
/* line 295, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-small {
  background-color: inherit !important;
}
/* line 297, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-small div {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: rgba(251, 252, 251, 0.76) !important;
  border: gray solid 1px;
}
/* line 303, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-small div span {
  line-height: 22px;
}
/* line 308, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-medium {
  background-color: inherit !important;
}
/* line 310, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-medium div {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgba(251, 252, 251, 0.76) !important;
  border: black solid 1px;
}
/* line 316, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-medium div span {
  line-height: 30px;
}
/* line 321, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-large {
  background-color: inherit !important;
  z-index: 100 !important;
}
/* line 324, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-large div {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(251, 252, 251, 0.76) !important;
  border: black solid 1px;
}
/* line 330, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-large div span {
  line-height: 40px;
}

/* line 339, ../sass/leaflet_map_interactions.scss */
.leaflet-tooltip.big-and-bold {
  font-size: 1.1rem;
  font-weight: bold;
}

/* line 344, ../sass/leaflet_map_interactions.scss */
.leaflet-tooltip.big {
  font-size: 1.1rem;
}

/* line 348, ../sass/leaflet_map_interactions.scss */
.leaflet-tooltip.bold {
  font-weight: bold;
}

/* line 352, ../sass/leaflet_map_interactions.scss */
.leaflet-tooltip.small {
  font-size: 0.7rem;
  padding: 3pxx;
}
