/* line 5, ../sass/common.scss */
.layout .layout__region img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 15, ../sass/common.scss */
.layout.container,
.block-page-title-block.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

/* line 25, ../sass/common.scss */
.views-row .node--view-mode-teaser .field__item .node__content {
  padding-block-end: unset;
}

/* line 29, ../sass/common.scss */
.layout--threecol-section > .layout__region {
  margin-block-end: unset !important;
}

/* line 33, ../sass/common.scss */
.node--view-mode-teaser:after {
  border-top: none !important;
}

/* line 37, ../sass/common.scss */
.paragraph--type--layout.paragraph--view-mode--default.js-lpb-component:hover {
  outline: 5px solid orange;
}

/* line 42, ../sass/common.scss */
#block-taranto-viva-footerlinks a {
  margin: 0 10px;
  line-height: 2rem;
  text-wrap: nowrap;
}
