.views-ui-display-tab-setting.overridden,
.views-ui-display-tab-bucket.overridden {
  font-style: italic;
  color: red !important;
  font-weight: bold;
}

.paragraphs-subform .field-group-details.geometry-attributes .details-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px 20px;
}

a, a.link {
  border-bottom: none
;
}

/*
.node .field--type-image {
  float: none !important;
  .field__item {
    display: inline-block;
  }
}
*/

#views-form-media-media-page-list .views-field-thumbnail__target-id {
  max-width: 60px;
}

.user-profile-section .block-layout-builder {
  margin-bottom: 10px;
  &.block-field-blockuseruseruser-picture {
    margin-bottom: 20px;
  }
}

.block-layout-builder {
  margin-bottom: 20px;
  &.node-title {
    font-size: 2.6rem;
    font-weight: bold;
    margin: 20px 0;
    line-height: 3rem;
  }
}

// Media Images Captions Styling.
.views-field.views-field-field-image,
.views-field.views-field-field-geoimage,
.field--name-field-media-image {
  .field--type-image:not(:last-child),
  .field--name-geoimage-caption:not(:last-child) {
    margin-bottom: 0.4rem;
  }
  .text-content.field--name-field-image-caption {
    font-size: 0.9rem;
    color: slategray;
  }
}

// Media Images View
.media--type-image .wide-image.field--type-image {
  margin-left: unset;
}

// View Filters
.view > * {
  margin-bottom: 1rem !important;
}

.view > .view-header {
  margin-bottom: 0.5rem !important;
}

// view-content-media-images
.view-content-media-images .field-content .media {
  margin-bottom: 20px;
}

// view view-geo-places view-id-geo_places

.view.view-geo-places.view-id-geo_places,
.view-territorial-reports.view-id-territorial_reports {

  a.node_title {
    padding-bottom: 0.1875rem;
    transition: background-size 0.2s, color 0.2s;
    text-decoration: none;
    color: #0d1214;
    background-color: transparent;
    background-image: linear-gradient(#2494db, #2494db); /* Two values are needed for IE11 support. */
    background-repeat: no-repeat;
    background-position: bottom left; /* LTR */
    background-size: 0 0.1875rem;
    font-size: 1.5rem;
    &:any-link {
      text-decoration: none;
    }
    h2 {
      margin-bottom: 6px;
    }
  }

  .field--name-field-media-image {
    margin-bottom: .25rem;
  }

  .field--name-field-image-caption {
    font-size: 0.7rem;
  }

  .field--name-field-address {
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
  }
}

@media (min-width: 43.75rem) {

  .view.view-geo-places.view-id-geo_places.view-display-id-page_geoplaces_grid {

    article {
      header {
        height: 20px;
        h2 {
          font-size: 1.4rem;
          line-height: 1.8rem;
        }
      }
    }

    .paragraph--type--location.paragraph--view-mode--leaflet-popup {
      height: 40px;
    }
  }
}

// view-id-geo_images_list

.view-id-geo_images_list {
  .views-view-grid__item {
    margin-bottom: 0.5rem;
  }
  .views-field-field-components {
    a {
      font-size: 0.8rem;
      .field--name-field-media-image {
        margin-bottom: 1rem;
      }
    }
  }
}

// GeofieldGoogleMapsLinkFieldItemList.
.field--name-geofield-googlemaps-link .field__item {
  display: inline;
  margin: 0 10px 0 0;
  font-size: 0.8rem;
}

#views-exposed-form-geo-places-page-vaganti-map,
#views-exposed-form-geo-images-list-page-vaganti-geimages-list{
  &.form--inline > * {
    vertical-align: unset;
    margin-block: 0;
  }
  fieldset {
    border: none;
    .fieldset__legend {
      display: none;
    }

    .fieldset__wrapper {
      padding: 0;

      .form-item {
        margin: 0;
        border: none;
        input {
          padding: 10px;

        }
      }

    }
  }
}

// View block-taranto-viva-views-block-geo-places-block-vaganti-dates
#block-taranto-viva-views-block-geo-places-block-vaganti-dates,
.view-id-geo_places.view-display-id-attachment_vaganti_dates {
  h2 {
    font-size: 1.5rem;
  }
  .block__content .view-content {
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid lightgrey;
    padding: 10px;
    > h3 {
      margin-block: 4px;
      font-size: 1rem;
      font-weight: normal;
    }
    > div {
      display: none;
    }
  }
}

.view-id-geo_places.view-display-id-attachment_vaganti_dates {
  .view-content {
    max-height: 100px;
    overflow-y: scroll;
    border: 1px solid lightgrey;
    padding: 10px;
    > h3 {
      margin-block: 4px;
      font-size: 1rem;
      font-weight: normal;
    }
    > div {
      display: none;
    }
  }
}

// Popup Message
#popup-message-window {
  width: 40% !important;
  height: 90% !important;
}

@media only screen and (max-width: 800px) {
  #popup-message-window {
    width: 90% !important;
    padding: 0 20px !important;
  }
}

// popup-message-
#popup-message-content {
  font-family: var(--font-sans);
  font-size: 13px;
  .text-content {
    font-family:  inherit;
    font-size: inherit;
  }
  .field--name-field-image, .field--name-field-media-image {
    padding-top: 10px;
    padding-bottom: var(--sp1);
  }

  .node__content {
    padding-block-end: var(--sp0-75);
  }

}

@media (min-width: 43.75rem) {
  #popup-message-content .text-content {
    font-family: inherit;
    font-size: inherit;
    line-height: var(--line-height-base) !important;
  }
}

@media (min-width: 62.5rem) {
  #popup-message-content {
    .node__content {
      padding-block-end: var(--sp0-75);
    }
  }
}

