#leaflet-map-view-geo-media-images-page-geoimages-map {
  .leaflet-popup-content {
    margin: 1px;
  }
}

// Dynamically extend the Popup Content width according to its image width content.
.leaflet-popup-content-wrapper {
  border-radius: 1px !important;
  .leaflet-popup-content {
    position: relative;
    margin: 4px;
    .field--name-geoimage-caption {
      padding-left: 0.5rem !important;
      font-size: 0.8rem;
      opacity: 70%;
      line-height: 1.2rem;
    }
    .field:not(:last-child) {
      margin-bottom: 0.4rem !important;
    }

    .node__content {
      font-size: 0.8rem;
      padding-bottom: 0.5rem !important;
    }
    .field--type-image {
      float: none; // This is needed to move the Leaflet Popup to show all of it in the map container
      margin: 0;
    }
    .node--type-geoimage {
      margin: 0;
      .node__content {
        margin: 0;
        padding-bottom: 0 !important;
      }
      .node__title {
        display: none;
      }
    }
    .node--type-geoplace, .node--type-event{
      margin: 12px 8px 0;
    }
    .node--type-territorial-report {
      margin: 12px 8px 0;
    }
    .field--type-image img, .field--name-user-picture img {
      margin: 0;
    }
    h2 {
      font-size: 1.4em;
      margin: 0.5em 20px 0.5em 0;
      line-height: 1.5rem;
      font-weight: normal;
      padding-top: 6px
    }
    h3 {
      font-size: 1.2em;
      margin: 0.5em 20px 0.5em 0;
      line-height: 1.4rem;
      font-weight: normal;
    }
    div {
      margin-bottom: 6px;
    }
    div:last-child {
      margin-bottom: 0;
    }
    /* Overrides the Olivero olivero_tarantoviva/css/components/text-content.css */
    .text-content,
    .cke_editable {
      font-size: 0.8rem !important;
      line-height: 1.3rem !important;
    }
    @media only screen and (max-width: 992px) {
      min-width: 80px;
      max-width: 300px;

      .field--type-text-with-summary, .field--name-body {
        display: none;
      }
      h2 {
        font-size: 1.2em
      }

      .node--type-geoimage {
        .node__content {
          margin: 0;
        }
        .node__title {
          display: none;
        }
      }
      .node--type-geoplace, .node--type-event {
        margin: 8px;
      }
    }

    @media only screen and (max-width: 500px) {
      .node--type-geoimage {
        max-width: 360px !important;
      }
      .node--type-geoplace, .node--type-event {
        max-width: 300px !important;
      }
      .node--type-territorial-report {
        max-width: 300px !important;
      }
    }

    @media only screen and (max-width: 380px) {
      .node--type-geoimage {
          max-width: 300px !important;
      }
      .node--type-geoplace, .node--type-event {
          max-width: 300px !important;
      }
      .node--type-territorial-report {
          max-width: 300px !important;
      }
    }
    .field--name-field-image-caption {
      font-size: 0.6rem !important;
      color: darkgray;
    }
    .field--name-geofield-googlemaps-link {
      display: inline-block;
    }
  }
}

// Move down the Leaflet Popup Close Button,
// if we want the leaflet-popup-content-wrapper padding top is 0.
.leaflet-container a.leaflet-popup-close-button {
  top: 12px;
}

// Tune the Geocoder Control Input element font size.
.leaflet-control-geocoder-container input {
  font-size: 1rem;
}

// Customise Leaflet Marker Icons
.leaflet-pane .leaflet-marker-icon,
.leaflet-pane > svg path {
  opacity: 80% !important;
  &:hover {
    opacity: 100% !important;
  }
  &.up-to-the-top {
    z-index: 1000 !important;
  }
  &.opacity-50 {
    //border-radius: 50px;
    border: 3px solid white;
    opacity: 30% !important;
  }
  &.opacity-50:hover {
    opacity: 100% !important;
  }
  &.opacity-75 {
    opacity: 60% !important;
  }
  &.opacity-75:hover {
    opacity: 100% !important;
  }
}

// Fine Style the Control Layer List.
.leaflet-control-layers-list {
  label {
    margin-bottom: 4px;
  }
  input[type="radio"] {
    margin-right: 4px;
    height: 1.2rem;
    width: 1.2rem;
    &:checked {
      background-size: 0.6rem;
    }
  }
  input[type="checkbox"] {
    margin-right: 4px;
    height: 1.2rem;
    width: 1.2rem;
  }
}

// Pulsing Markers
@-webkit-keyframes blink {
  50% {
    height: 60px;
    width: 60px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    margin-top: -20px;
    margin-left: -20px;
  }
  100% {
    height: 80px;
    width: 80px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    margin-top: -60px;
    margin-left: -60px;
  }
}
@-moz-keyframes blink {
  50% {
    height: 60px;
    width: 60px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    margin-top: -20px;
    margin-left: -20px;
  }
  100% {
    height: 80px;
    width: 80px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    margin-top: -60px;
    margin-left: -60px;
  }
}
.leaflet-container .dot {
  border-style: solid;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-width: 15px;
  border-radius: 15px;
  -moz-animation: blink 3.5s infinite ease-in-out;
  -webkit-animation: blink 3.5s infinite ease-in-out;
  -webkit-font-smoothing: antialiased;
  height: 30px;
  width: 30px;
  margin-top: -11px;
  margin-left: -11px;
  pointer-events: none;
}

.leaflet-container .leaflet-marker-icon.pulsing-marker {
  z-index: 500 !important;
  &.negative .dot {
    border-color: orange;
  }
  &.very_negative .dot {
    border-color: red;
  }
  &.positive .dot {
    border-color: limegreen;
  }
}

// Leaflet Markers Clusters Style overrides
.leaflet-marker-icon.marker-cluster {
  div {
    font-weight: bold;
    font-size: 16px;
  }
  &.marker-cluster-small {
    background-color: inherit !important;
    div {
      width: 30px;
      height: 30px;
      border-radius: 15px;
      background-color: rgb(241, 207, 97) !important;
      border: gray solid 1px;
      span {
        line-height: 26px;
      }
    }
  }
  &.marker-cluster-medium {
    background-color: inherit !important;
    div {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background-color: rgb(246, 139, 80) !important;
      border: black solid 1px;
      span {
        line-height: 36px;
      }
    }
  }
  &.marker-cluster-large {
    background-color: inherit !important;
    z-index: 100 !important;
    div {
      color: white;
      width: 60px;
      height: 60px;
      border-radius:30px;
      background-color: rgb(253, 51, 51) !important;
      border: black solid 1px;
      span {
        line-height: 44px;
      }
    }
  }
}

// Tooltips Classes
.leaflet-tooltip.big-and-bold {
  font-size: 1.1rem;
  font-weight: bold;
}

.leaflet-tooltip.big {
  font-size: 1.1rem;
}

.leaflet-tooltip.bold {
  font-weight: bold;
}

.leaflet-tooltip.small {
  font-size: 0.7rem;
  padding: 3pxx
}

// Map marker hover effects
// All these rules have been made better and moved into the
// Drupal.behaviors.leafletInteractions:processInitialActions method.
/*.leaflet-marker-icon.hovering:hover {
  background-color:rgba(255, 255, 255, 0.6);
  opacity: 80%;
  //outline: 8px solid white;
  border-radius: 50%;
  transition: background 400ms ease-out;
}*/

// Map Path/Geometry hover effects
.leaflet-map-path-hover-highlight {
  path:hover {
    stroke-width: 14;
  }
}

// .view-ciclovia-acquedotti {
.view-ciclovia-acquedotti {

  // Leaflet Tooltips Overrides
  .leaflet-tooltip-top {
    margin-top: -16px !important;
    &.wider {
      margin-top: -24px !important;
    }
  }
  .leaflet-tooltip-bottom {
    margin-top: 16px !important;
    &.wider {
      margin-top: 24px !important;
    }
  }
}

