/*.leaflet-popup-content .field--name-field-category-type {
  display: none;
}*/
/* line 7, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper {
  border-radius: 1px !important;
}
/* line 10, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content {
  position: relative;
  margin: 4px;
  font-size: 0.8rem;
  /* Overrides the Olivero olivero_tarantoviva/css/components/text-content.css */
}
/* line 15, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content h2 {
  font-size: 1.1rem;
  margin: 0.5em 20px 0.5em 0;
  line-height: 1.3rem;
  font-weight: normal;
}
/* line 22, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content h3 {
  font-size: 0.90rem;
  color: dimgray;
  margin: 0.5em 20px 0.5em 0;
  line-height: 1.2rem;
  font-weight: normal;
}
/* line 29, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content div {
  margin-bottom: 6px;
}
/* line 32, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content div:last-child {
  margin-bottom: 4px;
}
/* line 36, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .text-content,
.leaflet-popup-content-wrapper .leaflet-popup-content .cke_editable {
  font-size: 0.8rem !important;
  line-height: 1.3rem !important;
}
/* line 42, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content article.node--type-geoplace, .leaflet-popup-content-wrapper .leaflet-popup-content > div {
  padding: 2px 4px;
}
/* line 47, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node__content {
  padding-bottom: 0 !important;
}
/* line 51, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage {
  margin: 0;
}
/* line 53, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage .node__content {
  margin: 0;
  padding-bottom: 0 !important;
}
/* line 57, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage .node__title {
  display: none;
}
/* line 63, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field--name-field-address field {
  font-size: 0.7rem !important;
}
/* line 67, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field--name-field-image-caption {
  font-size: 0.6rem !important;
  color: darkgray;
}
/* line 72, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field--type-image img, .leaflet-popup-content-wrapper .leaflet-popup-content .field--name-user-picture img {
  margin: 0;
}
/* line 76, ../sass/leaflet_map_interactions.scss */
.leaflet-popup-content-wrapper .leaflet-popup-content .field--name-geoimage-caption {
  padding-left: 0.5rem !important;
  font-size: 0.8rem;
  opacity: 70%;
  line-height: 1.2rem;
}
@media only screen and (max-width: 992px) {
  /* line 10, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content {
    min-width: 80px;
    max-width: 280px;
  }
  /* line 87, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .field--type-text-with-summary, .leaflet-popup-content-wrapper .leaflet-popup-content .field--name-body {
    display: none;
  }
  /* line 92, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage .node__content {
    margin: 0;
  }
  /* line 95, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node--type-geoimage .node__title {
    display: none;
  }
}
@media only screen and (max-width: 720px) {
  /* line 10, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content {
    min-width: 80px;
    max-width: 200px;
    font-size: 0.6rem;
    margin: 2px;
  }
  /* line 107, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .node__content {
    padding-bottom: 0 !important;
  }
  /* line 111, ../sass/leaflet_map_interactions.scss */
  .leaflet-popup-content-wrapper .leaflet-popup-content .field--name-field-category-type,
  .leaflet-popup-content-wrapper .leaflet-popup-content .field--name-field-sub-title {
    display: none;
  }
}

/* line 121, ../sass/leaflet_map_interactions.scss */
.leaflet-container a.leaflet-popup-close-button {
  top: 12px;
}

/* line 126, ../sass/leaflet_map_interactions.scss */
.leaflet-control-geocoder-container input {
  font-size: 1rem;
}

/* line 131, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon,
.leaflet-pane > svg path {
  opacity: 80% !important;
}
/* line 134, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.svg-marker-cluster-icon,
.leaflet-pane > svg path.svg-marker-cluster-icon {
  opacity: 70% !important;
}
/* line 137, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon:hover,
.leaflet-pane > svg path:hover {
  opacity: 100% !important;
}
/* line 140, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.up-to-the-top,
.leaflet-pane > svg path.up-to-the-top {
  z-index: 1000 !important;
}
/* line 143, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.opacity-50,
.leaflet-pane > svg path.opacity-50 {
  border: 3px solid white;
  opacity: 50% !important;
}
/* line 148, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.opacity-50:hover,
.leaflet-pane > svg path.opacity-50:hover {
  opacity: 100% !important;
}
/* line 151, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.opacity-75,
.leaflet-pane > svg path.opacity-75 {
  opacity: 60% !important;
}
/* line 154, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.opacity-75:hover,
.leaflet-pane > svg path.opacity-75:hover {
  opacity: 100% !important;
}
/* line 157, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-marker-icon.geoimage,
.leaflet-pane > svg path.geoimage {
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* line 166, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-tile-container svg image {
  opacity: 50% !important;
}
/* line 168, ../sass/leaflet_map_interactions.scss */
.leaflet-pane .leaflet-tile-container svg image:hover {
  opacity: 100% !important;
}

/* line 175, ../sass/leaflet_map_interactions.scss */
.leaflet-control-layers-list label {
  margin-bottom: 4px;
}
/* line 178, ../sass/leaflet_map_interactions.scss */
.leaflet-control-layers-list input[type="radio"] {
  margin-right: 4px;
  height: 1.2rem;
  width: 1.2rem;
}
/* line 182, ../sass/leaflet_map_interactions.scss */
.leaflet-control-layers-list input[type="radio"]:checked {
  background-size: 0.6rem;
}
/* line 186, ../sass/leaflet_map_interactions.scss */
.leaflet-control-layers-list input[type="checkbox"] {
  margin-right: 4px;
  height: 1.2rem;
  width: 1.2rem;
}

@-webkit-keyframes blink {
  50% {
    height: 60px;
    width: 60px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    margin-top: -20px;
    margin-left: -20px;
  }
  100% {
    height: 80px;
    width: 80px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    margin-top: -60px;
    margin-left: -60px;
  }
}
@-moz-keyframes blink {
  50% {
    height: 60px;
    width: 60px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    margin-top: -20px;
    margin-left: -20px;
  }
  100% {
    height: 80px;
    width: 80px;
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    margin-top: -60px;
    margin-left: -60px;
  }
}
/* line 234, ../sass/leaflet_map_interactions.scss */
.leaflet-container .dot {
  border-style: solid;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-width: 15px;
  border-radius: 15px;
  -moz-animation: blink 3.5s infinite ease-in-out;
  -webkit-animation: blink 3.5s infinite ease-in-out;
  -webkit-font-smoothing: antialiased;
  height: 30px;
  width: 30px;
  margin-top: -11px;
  margin-left: -11px;
  pointer-events: none;
}

/* line 251, ../sass/leaflet_map_interactions.scss */
.leaflet-container .leaflet-marker-icon.pulsing-marker {
  z-index: 500 !important;
}
/* line 253, ../sass/leaflet_map_interactions.scss */
.leaflet-container .leaflet-marker-icon.pulsing-marker.negative .dot {
  border-color: orange;
}
/* line 256, ../sass/leaflet_map_interactions.scss */
.leaflet-container .leaflet-marker-icon.pulsing-marker.very_negative .dot {
  border-color: red;
}
/* line 259, ../sass/leaflet_map_interactions.scss */
.leaflet-container .leaflet-marker-icon.pulsing-marker.positive .dot {
  border-color: limegreen;
}

/* line 271, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster div {
  font-weight: bold;
  font-size: 16px;
  opacity: 70%;
}
/* line 275, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster div:hover {
  opacity: 100%;
}
/* line 279, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-small {
  background-color: inherit !important;
}
/* line 281, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-small div {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #f1cf61 !important;
  border: gray solid 1px;
}
/* line 287, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-small div span {
  line-height: 26px;
}
/* line 292, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-medium {
  background-color: inherit !important;
}
/* line 294, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-medium div {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #f68b50 !important;
  border: black solid 1px;
}
/* line 300, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-medium div span {
  line-height: 36px;
}
/* line 305, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-large {
  background-color: inherit !important;
  z-index: 100 !important;
}
/* line 308, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-large div {
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #fd3333 !important;
  border: black solid 1px;
}
/* line 315, ../sass/leaflet_map_interactions.scss */
.leaflet-marker-icon.marker-cluster.marker-cluster-large div span {
  line-height: 44px;
}

/* line 323, ../sass/leaflet_map_interactions.scss */
.leaflet-tooltip.big-and-bold {
  font-size: 1.1rem;
  font-weight: bold;
}

/* line 328, ../sass/leaflet_map_interactions.scss */
.leaflet-tooltip.big {
  font-size: 1.1rem;
}

/* line 332, ../sass/leaflet_map_interactions.scss */
.leaflet-tooltip.bold {
  font-weight: bold;
}

/* line 336, ../sass/leaflet_map_interactions.scss */
.leaflet-tooltip.small {
  font-size: 0.7rem;
  padding: 3pxx;
}

/*.leaflet-marker-icon.hovering:hover {
  background-color:rgba(255, 255, 255, 0.6);
  opacity: 80%;
  //outline: 8px solid white;
  border-radius: 50%;
  transition: background 400ms ease-out;
}*/
/* line 354, ../sass/leaflet_map_interactions.scss */
.leaflet-map-path-hover-highlight path:hover {
  stroke-width: 14;
}

/* line 363, ../sass/leaflet_map_interactions.scss */
.view-ciclovia-acquedotti .leaflet-tooltip-top,
.view .leaflet-tooltip-top {
  margin-top: -16px !important;
}
/* line 365, ../sass/leaflet_map_interactions.scss */
.view-ciclovia-acquedotti .leaflet-tooltip-top.wider,
.view .leaflet-tooltip-top.wider {
  margin-top: -24px !important;
}
/* line 369, ../sass/leaflet_map_interactions.scss */
.view-ciclovia-acquedotti .leaflet-tooltip-bottom,
.view .leaflet-tooltip-bottom {
  margin-top: 16px !important;
}
/* line 371, ../sass/leaflet_map_interactions.scss */
.view-ciclovia-acquedotti .leaflet-tooltip-bottom.wider,
.view .leaflet-tooltip-bottom.wider {
  margin-top: 24px !important;
}
